.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    height: 100%;
}

.value {
    font-family: var(--font-data);
    font-size: 24px;
    font-weight: 500;
    color: var(--text);
}

.subValue {
    font-family: var(--font-data);
    font-size: 14px;
    color: var(--muted);
}